kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ ansible_operator_meta.name }}-dnsmasq-config"
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
  dnsmasq.conf: |
    bind-interfaces
    interface={{ dns.listen_interface }}
    dhcp-range={{ dhcp.start_ip }},{{ dhcp.end_ip }},{{ dhcp.mask }},{{ dhcp.lease_time }}
    dhcp-option=option:router,{{ dhcp.gateway }}
    dhcp-option=option:dns-server,{{ dhcp.dns_server }}
    domain={{ dhcp.domain }}
{% for item in dns.upstream_servers %}
    server={{ item }}
{% endfor %}
