kind: ConfigMap
apiVersion: v1
metadata:
  name: "{{ ansible_operator_meta.name }}-zincati-config"
  namespace: "{{ ansible_operator_meta.namespace }}"
data:
  55-updates-strategy.toml: |
    [updates]
    enabled = {{ updates.enabled | lower }}
    strategy = "periodic"
    [updates.periodic]
    time_zone = "{{ updates.timezone }}"
    [[updates.periodic.window]]
    days = [ "{{ updates.day }}" ]
    start_time = "{{ updates.time }}"
    length_minutes = 60
