name: Build operator

on:
  release:
    types: [published]
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  OPERATOR_SDK_VERSION: "v1.28.0"

jobs:
  build-operator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set release version
        if: ${{ github.event_name == 'release' }}
        run: |
          tag=${{ github.ref_name }}
          echo "VERSION=${tag:1}" >> $GITHUB_ENV
          echo "CHANNELS=alpha" >> $GITHUB_ENV
          echo "DEFAULT_CHANNEL=alpha" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install ansible-lint
        run: |
          pip install --upgrade ansible-core ansible-lint
          ansible-galaxy collection install -U kubernetes.core operator_sdk.util cloud.common

      - name: Run Ansible Lint
        run: |
          ansible-lint -x var-naming[no-role-prefix] -s ./roles/router

      - name: Log in to Quay.io
        uses: docker/login-action@v2
        if: ${{ github.event_name != 'pull_request' }}
        with:
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
          registry: quay.io

      - name: install operator-sdk
        run: |
          export ARCH=$(case $(uname -m) in x86_64) echo -n amd64 ;; aarch64) echo -n arm64 ;; *) echo -n $(uname -m) ;; esac)
          export OS=$(uname | awk '{print tolower($0)}')
          export OPERATOR_SDK_DL_URL=https://github.com/operator-framework/operator-sdk/releases/download/${{ env.OPERATOR_SDK_VERSION }}
          curl -L -o /usr/local/bin/operator-sdk ${OPERATOR_SDK_DL_URL}/operator-sdk_${OS}_${ARCH}
          chmod +x /usr/local/bin/operator-sdk

      - name: Build operator
        if: ${{ github.event_name == 'pull_request' }}
        run: |
          make docker-build

      - name: Push operator
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          make docker-buildx PLATFORMS=linux/arm64,linux/amd64

      - name: Build operator bundle
        run: |
          make bundle bundle-build USE_IMAGE_DIGESTS=true

      - name: Validate bundle
        run: |
          operator-sdk bundle validate ./bundle --select-optional suite=operatorframework

      - name: push bundle
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          make bundle-push

      - name: Save bundle
        uses: actions/upload-artifact@v3
        with:
          name: bundle
          path: bundle/
